#wrapwrap {
    .newslater_main {
    	border:1px solid #CCC;
    	.newslater_main_row {
    		.top_head {
    			padding-top:30px;
    			color:blue;
    		}
    		.top_head_2 {
    			padding-top:5px;
    		}
    		.top_head_3 {
    			padding-top: 10px;
    			padding-bottom: 10px;
    		}
    		.top_head_4 {
    			padding-top: 15px;
    			padding-bottom:15px;
    		}
    	}
    }
}